<%provide(:title,"Home")%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="options-section-top section home-form">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default <%= home_button_class(@display, "recent") %> " onclick='window.location.href = "/home";'>Recent Posts</button>
          <button type="submit" value="submit" form="selected-topics" class="btn btn-default <%= home_button_class(@display, "selected") %>">Selected Topics Only</button>
          <% if logged_in? %>
            <button type="button" class="btn btn-default" onclick='window.location.href = "<%= edit_user_path(current_user) %>";'>My Settings</button>
          <% end %>
        </div>
        <div class="input-group">
          <form action="">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </form>
        </div>
        <div class="new-post-btn">
          <button type="button" class="btn btn-primary btn-md" onclick='window.location.href = "/create";'>New Post</button>
        </div>
      </div>
      <table class="table table-bordered">
        <th>News Posts</th>
        <tbody>
          <% @posts.each do |post|%>
            <%= render 'posts/post_thin', post: post %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 section">
      <div class="options-section">
        <div class="options-heading">
          Recent Members
        </div>
        <div class="options-content">
          <ul class="list-group">
            <% @users.each do |user|%>
              <li class="list-group-item">
              <%= link_to user.displayname, user %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Topics
        </div>
        <div class="options-content">      
          <div class="btn-group col-xs-12" data-toggle="buttons">
            <% @topics.each do |topic|%>
            <label class="btn btn-default">
              <input type="checkbox" name="<%=topic.name%>" value="<%=topic.name%>"><%=topic.name%>
            </label>
            <% end %>
          </div>
          </br>
          </br>
          </br>
          </br>
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Posts
        </div>
        <div class="options-content">      
          <table class="table table-condensed">
            <tbody>
              <% @topposts.each do |post|%>
              <tr>
                <td><%= link_to post.title, post %></td>
                <td><%= post.views %> views</td>
              </tr>  
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="options-section">
        <div class="options-heading">
          Links
        </div>
        <div class="options-content">      
          <ul class="list-group">
            <button type="button" class="list-group-item" onclick='window.location.href = "https://www.rmit.edu.au/"'>RMIT</button>
            <button type="button" class="list-group-item" onclick='window.location.href = "https://rubyonrails.org/"'>RubyOnRails</button>
            <button type="button" class="list-group-item" onclick='window.location.href = "https://github.com/mattasymmetric"'>Matthew Walters (GitHub)</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>